.git
.gitignore
.github
.idea
.vscode
.DS_Store
**/node_modules
**/vendor
**/var/cache
**/var/log
**/dist
**/dev-dist
**/coverage
**/.env.local
**/.env.*.local
data
backups
*.db
*.db-journal
*.db-wal
*.db-shm
MVP.md
README.md
